<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centre guide</title>
    <style>
        body{
            font-family: sans-serif;
            background-color: #FFFAFA;
        }
        table{
            border-collapse: collapse;
            margin: auto;
        }
        table,th,td{
            border: 1px solid black;
            padding:5px
        }
        th {
            text-align: left;
            height:50px;
        }
        h2,h3,h4{
            text-align: center;
        }
        div{
            text-align: center;
            width: 100px;
            margin: auto;
            border: 1px solid black;
            padding: 30px;
            border-radius: 25px;
            background-color: indigo;
            color:white;
        }
    </style>
</head>
<body>
    <h2>Get to know which college belongs to which centre</h2>
    <h4>Download the official result booklet below</h4>
    </br>
    <a target="_blank" href="https://drive.google.com/file/d/1RSpUnq-PaN7D1OTOUuHdD1r27BaOz24_/view?usp=sharing"><div>Download</div></a>
    </br>
    <h4><a href="/">Go back</a></h4>
    <h3>Developed by <a href="https://kartiksawant.github.io" target="_blank">Kartik Sawant</a></h3>
</body>
</html>